.container {
  padding: 50px 150px;
}
.topContainer {
  background-image: url("/src/assets/moon.webp");
  width: 100%;
  height: 250px;
  background-position: top;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgba(150, 150, 150, 0.8);
  background-image: url("/src/assets/logo.webp");
  background-size: cover;
  margin-right: 25px;
}
.name {
  color: white;
  font-size: 36px;
  font-family: "font1";
}
.address {
  color: rgb(200, 200, 200);
}
.reserveContainer {
  width: 100%;
  background-color: rgb(220, 220, 220);
  border: 2px solid black;
  border-radius: 20px;
  padding: 50px;
}
.contactContainer {
  display: flex;
  gap: 100px;
}
.reserveTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.infoContainers {
  width: 40%;
}
.controlContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.infoTitle {
  font-size: 18px;
}
.infoTitle.required::after {
  content: "*";
  color: red;
  margin-left: 5px;
}
.infoContainer input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
}
.detailBox {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.noInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.detail {
  display: flex;
  justify-content: space-between;
}
.detailItems {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon {
  font-size: 20px;
}
.date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.time {
  color: rgb(100, 100, 100);
}
.remark {
  background-color: rgba(240, 240, 240, 0.8);
  word-break: break-all;
  padding: 10px;
  border-radius: 5px;
}
.boxTitle {
  font-weight: bold;
  margin-bottom: 5px;
}
.sendReserve {
  background-color: rgb(180, 0, 0);
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}
.sendReserve:hover {
  background-color: rgb(200, 0, 0);
}
.edit {
  width: 100%;
  border: 2px solid rgb(180, 0, 0);
  color: rgb(180, 0, 0);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
.edit:hover {
  background-color: rgb(240, 240, 240);
}

.errorMsg {
  color: red;
  font-size: 14px;
}
.spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 50px 80px;
  }
}
@media screen and (max-width: 1024px) {
  .contactContainer {
    flex-direction: column;
    gap: 30px;
  }
  .infoContainers,
  .controlContainer {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 30px;
  }
  .topContainer {
    height: 180px;
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  .name {
    font-size: 28px;
  }
  .address {
    font-size: 14px;
  }
  .reserveContainer {
    padding: 20px;
  }
  .reserveTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .infoTitle,
  .date {
    font-size: 16px;
  }
  .infoContainer input {
    font-size: 14px;
  }
  .detailBox,
  .sendReserve {
    font-size: 14px;
  }
  .errorMsg {
    font-size: 12px;
  }
  .edit,
  .sendReserve {
    padding: 8px 0;
  }
  .noInfo {
    height: 80px;
    font-size: 14px;
  }
}
@media screen and (max-width: 412px) {
  .topContainer {
    padding-left: 15px;
    height: 150px;
    border-radius: 15px;
  }
  .reserveContainer {
    border-radius: 15px;
  }
  .reserveTitle {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .name {
    font-size: 24px;
  }
  .noInfo {
    height: 60px;
    font-size: 12px;
  }
}
