.container {
  display: flex;
  justify-content: center;
  min-height: 500px;
  position: relative;
}
.infoContainer {
  width: 60%;
  margin-right: 25px;
  box-sizing: border-box;
}
.bottom{
  width: 100%;
  display: flex;
  gap: 20px;
}
.userInfos,
.orderInfos {
  width: 50%;
  background-color: rgb(236,236,236);
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
}
.top{
  width: 100%;
  background-color: rgb(236,236,236);
  padding: 15px;
  border-radius: 15px;
  height: fit-content;
  margin-bottom: 20px;
}

.detailContainer {
  width: 40%;
  border-left: 2px solid gray;
  padding-left: 25px;
  box-sizing: border-box;
}
.detailSubTitle {
  padding: 5px 0;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.detailSubTitle.bold {
  font-weight: bold;
  border-bottom: 3px solid gray;
}
.productContainer {
  margin-bottom: 20px;
}
.productList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
.price {
  font-weight: bold;
}
.infoInputContainer,
.textareaContainer {
  width: 100%;
  margin-bottom: 10px;
}
.title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
}
.inputTitle{
  margin-bottom: 5px;
}
.infoInput {
  width: 100%;
  height: 32px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 3px 10px;
}
.textareaContainer textarea {
  width: 100%;
  height: 120px !important;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
}
.timeContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}
.timeItem {
  width: fit-content;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  user-select: none;
  cursor: pointer;
}
.timeItem:hover {
  background-color: white;
}
.timeItem.active {
  border: 2px solid rgb(180, 0, 0);
  background-color: white;
}
.timeItem.disable {
  background-color: rgb(180, 180, 180);
  opacity: 0.5;
  cursor: not-allowed;
}
.back {
  width: 100%;
  margin: 20px 0;
  padding: 10px 15px;
  border: 2px solid rgb(180, 0, 0);
  color: rgb(180, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}
.back:hover {
  background-color: white;
}
.back span {
  margin-right: 5px;
}
.confirm {
  padding: 10px 15px;
  background-color: rgb(180, 0, 0);
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 0;
  height: 45px;
}
.confirm:hover {
  background-color: rgb(200, 0, 0);
}
.confirm.disable {
  cursor: not-allowed;
}
.refresh {
  width: fit-content;
  font-size: 14px;
  margin: 15px 0;
  padding: 5px 15px;
  border: 2px solid rgb(180, 0, 0);
  color: rgb(180, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 35px;
}
.refresh:hover {
  background-color: white;
}
.errorMsg {
  font-size: 14px;
  color: rgb(180, 0, 0);
}
.remarkNotice {
  font-size: 12px;
  margin-left: 5px;
}
.spinContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}
.spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}
.alertContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}
.alertTitle {
  font-weight: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.alertExplain {
  font-size: 14px;
  margin-bottom: 5px;
}
.alertInfos {
  width: 100%;
  margin: 10px 0 15px;
  padding: 5px 15px;
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 5px;
  font-size: 14px;
}
.alertInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
}
.alertButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.alertButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(245, 245, 245);
}
.alertButton:hover {
  background-color: rgb(255, 255, 255);
}
.ruleContent {
  font-size: 14px;
  margin-bottom: 10px;
}
.ruleContent.last {
  margin-bottom: 0;
  margin-top: 10px;
}
.ruleInfo {
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 5px;
}
.ruleInfo span {
  font-weight: 500;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .infoContainer,
  .detailContainer {
    width: 100%;
  }
  .infoContainer {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .detailContainer {
    padding-left: 0;
    border-left: none;
  }
}
@media screen and (max-width: 768px) {
  .bottom{
    flex-direction: column;
  }
    .userInfos,
  .orderInfos {
    width: 100%;
  }
  .title {
    font-size: 16px;
  }
  .inputTitle{
    font-size: 14px;
  }
  .infoInput {
    height: 30px;
    padding: 2px 10px;
  }
  .confirm,
  .back {
    padding: 8px 10px;
    height: 40px;
  }
  .productContainer,
  .detailSubTitle {
    font-size: 14px;
  }
  .refresh {
    padding: 5px 10px;
    font-size: 14px;
  }
  .ruleInfo {
    margin-left: 15px;
  }
}
@media screen and (max-width: 600px) {
  .infoContainer {
    flex-direction: column;
    gap: 10px;
  }
  .timeContainer {
    gap: 10px;
  }
  .timeItem {
    padding: 3px 8px;
    font-size: 14px;
  }
  .alertContainer {
    width: 350px;
    height: 250px;
    padding: 15px;
  }
  .alertTitle {
    margin-bottom: 5px;
  }
  .alertExplain {
    margin-bottom: 3px;
  }
  .alertInfo {
    padding: 3px 10px;
  }
}
@media screen and (max-width: 414px) {
  .title {
    font-size: 14px;
  }
  .inputTitle{
    font-size: 12px;
  }
  .productContainer,
  .detailSubTitle {
    font-size: 12px;
  }
  .refresh {
    font-size: 12px;
  }
  .confirm,
  .back {
    font-size: 12px;
    height: 35px;
  }
  .alertContainer {
    width: 300px;
    height: 250px;
    padding: 10px;
  }
  .alertInfo {
    padding: 3px 10px;
  }
  .alertExplain {
    font-size: 12px;
  }
  .alertInfos {
    font-size: 12px;
    padding: 5px 10px;
  }
  .alertButton {
    font-size: 12px;
  }
}
