.container {
  position: relative;
  padding-bottom: 50px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.point {
  margin: 10px 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(227, 225, 255);
  border-radius: 10px;
}
.pointTitle {
  color: rgb(57, 44, 252);
  font-size: 14px;
  margin-bottom: 3px;
}
.pointValue {
  font-size: 24px;
  font-weight: bold;
  color: rgb(57, 44, 252);
}
.icon {
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(57, 44, 252);
}
.plusIcon {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 150, 0);
}
.minusIcon {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(180, 0, 0);
}
.describe {
  font-size: 14px;
  color: rgb(180, 0, 0);
}

.pagination {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.pointsContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(230, 230, 230, 0.8);
  border-radius: 10px;
  margin-bottom: 10px;
}
.leftContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.rightContainer .pointType {
  align-items: end;
}
.pointType {
  display: flex;
  flex-direction: column;
}
.pointTypeTitle {
  font-weight: bold;
  margin-bottom: 3px;
}
.pointTypeNumber {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 3px;
  color: rgb(0, 150, 0);
}
.pointTypeNumber.minus {
  color: rgb(180, 0, 0);
}
.pointTypeValue {
  font-size: 14px;
  color: rgb(120, 120, 120);
}
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #555;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .describe {
    font-size: 12px;
  }
  .point {
    margin: 10px 0;
    padding: 10px 15px;
  }
  .pointValue {
    font-size: 20px;
  }
  .icon {
    font-size: 28px;
  }
  .plusIcon,
  .minusIcon {
    font-size: 16px;
  }
  .pointsContainer {
    padding: 8px 10px;
  }
  .leftContainer {
    gap: 10px;
  }
  .pointTypeTitle {
    font-size: 14px;
  }
  .pointTypeNumber {
    font-size: 16px;
  }
  .pointTypeValue {
    font-size: 12px;
  }
}
@media screen and (max-width: 414px) {
  .title {
    font-size: 14px;
  }
  .pointValue {
    font-size: 18px;
  }
   .pointTypeNumber {
    font-size: 16px;
  }
}
